.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

/* SM */
@media screen and (min-width: var(--breakpoints-sm)) {
    .container {
        max-width: var(--screen-sm);
    }
}

/* MD */
@media screen and (min-width: var(--breakpoints-md)) {
    .container {
        max-width: var(--screen-md);
    }
}

/* LG */
@media screen and (min-width: var(--breakpoints-lg)) {
    .container {
        max-width: var(--screen-lg);
    }
}

/* XL */
@media screen and (min-width: var(--breakpoints-xl)) {
    .container {
        max-width: var(--screen-xl);
    }
}
