<%- include("includes/head"); %> <%- include("includes/nav"); %>

<section class="container align-items-center mt-8">
  <!-- TITLE -->
  <div>
    <p class="text-center text-2xl font-bold text-gray-700 py-6">Seus contatos estão abaixo.</p>
  </div>

  <%- include("includes/messages") %>

  <!-- TABLE -->
  <div class="mt-6 shadow rounded-md">
    <table class="table-fixed my-3 w-full divide-y divide-gray">
      <thead class="bg-white">
        <tr>
          <th class="px-6 py-3 text-left text-lg font-bold text-gray-700 uppercase tracking-wider">Nome</th>
          <th class="px-6 py-3 text-left text-lg font-bold text-gray-700 uppercase tracking-wider">Número</th>
          <th class="px-6 py-3 text-left text-lg font-bold text-gray-700 uppercase tracking-wider">E-mail</th>
        </tr>
        <tbody class="bg-gray-100 divide-y divide-gray-200">
          <tr>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">Daniel</td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">(99) 99999-9999</td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">test@gmail.com</td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"><a href="#" class="text-blue-600 hover:text-blue-900">Editar</a></td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"><a href="#" class="text-red-600 hover:text-red-900">Excluir</a></td>
          </tr>

          <tr>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">Nascimento</td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">(99) 99999-9999</td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">test@gmail.com</td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"><a href="#" class="text-blue-600 hover:text-blue-900">Editar</a></td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"><a href="#" class="text-red-600 hover:text-red-900">Excluir</a></td>
          </tr>

          <tr>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">Paulo</td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">(99) 99999-9999</td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">test@gmail.com</td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"><a href="#" class="text-blue-600 hover:text-blue-900">Editar</a></td>
            <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"><a href="#" class="text-red-600 hover:text-red-900">Excluir</a></td>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
</section>

<%- include("includes/footer"); %>
