<%- include("includes/head"); %> <%- include("includes/nav"); %>

<section class="container">
  <div class="flex flex-col items-center justify-center min-h-screen px-6 mx-auto h-full">      
      <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
              Entre na sua conta
          </h1>
          <form class="space-y-4 md:space-y-6" action="/login/login" method="post">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
              <div>
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900">E-mail</label>
                  <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5" placeholder="test@gmail.com" required=""/>
              </div>
              <div>
                  <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Senha</label>
                  <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5" required=""/>
              </div>
              <div class="flex items-center justify-between">
                  <div class="flex items-start">
                      <div class="flex items-center h-5">
                        <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-gray-300" required=""/>
                      </div>
                      <div class="ml-3 text-sm">
                        <label for="remember" class="text-gray-500">Lembrar</label>
                      </div>
                  </div>
                  <a href="#" class="text-sm font-medium text-gray-600 hover:underline">Esqueceu sua senha?</a>
              </div>
              <button type="submit" class="w-full bg-gray-600 hover:bg-gray-700 text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign in</button>
              <p class="text-sm font-light text-gray-500">
                  Ainda não tem conta? <a href="#" class="font-medium text-gray-600 hover:underline">Cadastre-se</a>
              </p>
          </form>
        </div>
      </div>
  </div>
</section>


<%- include("includes/footer"); %>


